*{
	margin: 0;
	padding: 0;
    font-family: 'Crete Round', serif;
}
#main{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(247, 222, 129,0.2),rgb(247, 222, 129,0.2)),url(images/level5_bg.jpg);
	background-size: cover;
	background-position: center;
}
.animate{
	position: absolute;
	top: 3%;
	text-align: center;
	left: 45%;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 10px;
	line-height: 20px;
	color: #272320;
	animation:	3s animate linear infinite;
}
@keyframes animate{
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.form{
	position: relative;
	left: 50%;
	top: 55%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 470px;
	background: rgba(39, 35, 32,0.5);
	padding-left: 20px;
	box-shadow: 0 0 20px 10px rgba(252, 214, 67,0.7);
	border-radius: 15px;
}
.form h2{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 10px;
	color: rgb(252, 214, 67);
}
form input{
	background: transparent;
	font-size: 35px;
	width: 90%;
	height: 40px;
	border: 2px solid rgb(252, 214, 67);
	border-radius: 15px;
	box-shadow: 0 0 20px 0 rgba(252, 214, 67,0.5);
	color:  rgba(252, 214, 67);
}
form h3{
	color: rgb(252, 214, 67);
	font-size: 25px;
	letter-spacing: 10px;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 15px;
}
.btn{
	border: 2px solid rgb(252, 214, 67);
	padding: 10px 20px;
	font-size: 25px;
	background-color: transparent;
	border-radius: 15px;
	color: rgb(252, 214, 67);
	margin: 30px 0px;
	margin-left: 120px;
	width: 150px;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(252, 214, 67,0.7);
}
.btn:hover{
	background: rgba(252, 214, 67,0.2);
	box-shadow: 10px 0 20px 10px rgba(252, 214, 67,0.7);

}
.social-links{
	position: absolute;
	bottom: -20px;
	display: flex;
	left: 20%;
}
.fab{
	margin: 30px 20px;
	font-size: 30px;
	color: rgb(252, 214, 67);

}
.fab:hover{
	animation: 1s rotate linear;
}
@keyframes rotate{
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}