<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Round 5</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='level5.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/all.css')}}">
	<script src="{{url_for('static',filename='js/typeit.min.js')}}"></script>
	<!-- ----google-fonts---- -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet"> 

	<script src="https://kit.fontawesome.com/7ab1de848b.js" crossorigin="anonymous"></script>
</head>
<body>

	<section id="main">
		<h1 class="animate">Round 5</h1>
		<h1 style="position:absolute;top:7%;left:35%;color:red;font-size:30px;">{{value}}</h1>
		<div class="form">
			<h2>Login Form</h2>
			<form method="POST">
				<h3>Username</h3>
				<input type="text" name="username">
				<h3>Password</h3>
				<input type="password" name="password">
				<button type="submit" class="btn">Submit</button>
			</form>
			<div class="social-links">
				<a href="https://www.facebook.com/wannab3hack3r.m3"><i class="fab fa-facebook"></i></a>
				<a href="https://discord.com/users/604681695064490015"><i class="fab fa-discord"></i></a>
				<a href="https://www.twitter.com/HMHish3r3"><i class="fab fa-twitter"></i></a>
				<a href="https://github.com/hmhlol"><i class="fab fa-github"></i></a>
			</div>
		</div>

	</section>
</body>
</html>
